<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-SUA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <header>
        <!-- add Nav here -->
    </header>
    <h1>
        Home
    </h1>
    <h4>
        You are now home!
    </h4>
    <p>
        {{ msg }}
    </p>
    <ul>
        {% for letter in letters %}
        <li>{{ letter }}</li>
        {% endfor %}
    </ul>


    <footer>
        <h6>
            &copy; Right to me 2022
        </h6>
    </footer>


</body>
</html>