{% extends 'base.html' %}
{% block body %}
<h1>Search</h1>
<h3>Look up games by genre</h3>
<h4>Genre : 1=Sandbox</h4>
<h4>Genre : 2=Real-time strategy (RTS)</h4>
<h4>Genre : 3=Shooters (FPS and TPS)</h4>
<h4>Genre : 4=Multiplayer online battle arena (MOBA)</h4>
<h4>Genre : 5=Role-playing (RPG, ARPG, and More)</h4>
<h4>Genre : 6=Simulation and sports</h4>
<h4>Genre : 7=Puzzlers and party games</h4>
<h4>Genre : 8=Action-adventure</h4>
<h4>Genre : 9=Survival and horror</h4>
<h4>Genre : 10=Platformer</h4>
<form action="/filter-games" method="post">
    <p>
        <input type="number" name="genre" min="0" placeholder="Search genre by number">
        <input type="submit" value="Search">
    </p>
</form>
{% endblock %}